extends ./templates/_layout

block variables
  -
    var title = 'トップ';
    var description = '説明';

block content
  #js-container
    //- canvas#main(width=600 height=600)
  //- p
  //-   span HAPPY Valentine !!
